body {
    background-color: aqua;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    }

h1 {
    color: aquamarine;
}

p {
    color: red;
    background: cadetblue;
}

h2 {
    color: aqua;
}

